
*:focus {
    outline: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

body {
    perspective: 500px;
}

html,body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.start {
    background-color: #03a9f4;
    height: 100%;
    position: relative;
    text-align: center;
}

.start .start-button {
    position: absolute;
    top: 50%;
    transform: translate(-50% ,-50%);
    background: none;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 20px 60px;
    color: #fff;
    font-weight: bold;
}

.start-button::after {
    content: '';
    position: absolute;
    background: #4caf50;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scale(0 , 1);
    transform-origin: 0% 100%;
    transition: transform .5s ease;
}

.start-button:hover:after {
    transform: scale(1, 1);
}

.main {
    display: none;
}

.container {
    margin: auto;
    width: 1140px;
}

.container .data {
    border: 1px solid #03a9f4;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    background-color: #009688;
}

.blocks{
    list-style: none;
    width: 800px;
    position: absolute;
    margin-top: 10px;
    left: 25%;
    display: flex;
    flex-flow: row wrap;
}

.pic {
    width: 130px;
    height: 130px;
}

.double-cards {
    width: 140px;
    height: 140px;
    position: relative;
    float: left;
    list-style: none;
    margin: 9px;
}

.no-clicking {
    pointer-events: none;
}
 
.front-card {
    border: 2px solid #000;
    width: 140px;
    height: 140px;
    cursor: pointer;
    margin: 3px;
    text-align: center;
    transition: all .54s ease-in-out;
    backface-visibility: hidden;
    position: relative;
    transition: all .54s ease-in-out;
    transform: rotateY(180deg);
}
.back-card {
    border: 2px solid #000;
    width: 140px;
    height: 140px;
    cursor: not-allowed;
    margin: 3px;
    text-align: center;
    transition: all .54s ease-in-out;
    transform: rotateY(0deg);
    z-index: -1;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.fl-right {
    float: right;
}

.rotate {
    transform: rotateY(180deg);
    transition: transform all ease .6s;
}

.win-message {
    font-size: 36px;
    font-weight: bold;
    color: #009688;
    display: none;
    text-align: center;
    background: #333;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 40px;
    border-radius: 10px;
}

.score {
    font-size: 36px;
    font-weight: bold;
    color: #009688;
    display: none;
    text-align: center;
    background: #333;
    top: 67%;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 40px;
    border-radius: 10px;
}
